/* Fichero CSS global */
:root {
  --mini-color-text: #181818;
  --mini-color-primary: #3acaf2;
  --mini-color-accent: #f4d160;
  --mini-color-secondary: #d3e0ea;
  --mini-color-background: #f6f5f5;
  --mini-color-element-background: #ffffff;
  --mini-color-border-color: gray;
  /* Text */
  --mini-font-base-size: 95%;
  --mini-font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen-Sans, Ubuntu, Helvetica, Arial, sans-serif;
  --mini-font-scale: 1.115;
  /* Shapes */
  --mini-border-radius: 4px;
  --mini-border-size: 1px;
  /* Forms */
  --mini-input-height: 42px;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.login-register-form {
  width: 300px;
}

body.dark {
  background-color: gray;
}
